
.heading_style{
    text-align:left;
    text-transform: uppercase;
    font-size: 8px;
    font-weight: 2000;
    color:black;
    background-color: #fff;
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.form_border{
    border-style: solid;
    border-bottom-width:solid;
    padding: auto;
    margin-bottom: 350px;
  }

  .inside_formBorder{
    border-style: solid;
    border-bottom-width:solid;
    padding: auto;
    margin-top: -20px;
    margin-right:850px
  }

  .page_border{
    border-style: solid;
    border-bottom-width: solid;
    margin-bottom: 200px;
  }

  .inside_style{
    border-style: solid;
    border-bottom-width:solid;  
    text-align:center;
    font-size: 1.5rem;
    margin-left:370px;
    margin-top:-390px;
    margin-right:-3px
  }

  .style2{
    margin-bottom:300px;
  }



